@font-face {
    font-family: "Mulish-Regular";
    src: url("assets/fonts/Mulish/Mulish-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Mulish-Bold";
    src: url("assets/fonts/Mulish/Mulish-Bold.ttf") format("truetype");
}

/* ================== */
/* Root Variables     */
/* ================== */

:root {
    --primary-color: #AFD4E2;
    --secondary-color: #1E3240;
    --accent-color: #BDBDBD;
    --background-color: #FFFFFF;
}


/* ================== */
/* Reset & Global Styles */
/* ================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Mulish-Regular";
    background-color: var(--background-color);
}

/* ================== */
/* Responsive Container */
/* ================== */
.container {
    width: min(77%, 1200px);
    margin: 0 auto;
}

/* ================== */
/* Header Section*/
/* ================== */
header {
    background-color: var(--primary-color);
}

/* ================== */
/* Navigation */
/* ================== */
div.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    color: var(--secondary-color);
}

div.brand-logo h1 {
    font-size: clamp(20px, 4vw, 24px);
    font-family: "Mulish-Bold";
    text-transform: uppercase;
}

nav ul.nav-list {
    list-style: none;
    display: flex;
    gap: clamp(35px, 6rem, 65px);
    font-size: 14px;
    text-transform: uppercase;
}


/* ================== */
/* Mobile Menu Icon */
/* ================== */
.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 1;
}

.menu-icon span {
    width: 25px;
    height: 2px;
    background-color: var(--secondary-color);
    margin: 3px 0;
    transition: 0.4s;
}

/* Hide Checkbox */
.menu-toggle {
    display: none;
}

/* ================== */
/* From Tablet to Smaller Screen */
/* ================== */
@media (max-width: 768px) {

    /* Header */
    /* Menu */
    .menu-icon {
        display: flex;
        position: relative;
        left: 10%;
    }

    /* Menu Icon Animation */
    .menu-toggle:checked~.menu-icon span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu-toggle:checked~.menu-icon span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle:checked~.menu-icon span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* Navigation */
    div.header {
        align-items: flex-start;
        gap: 20px;
    }

    .nav-container {
        position: fixed;
        top: 0;
        right: 0;
        width: clamp(160px, 40%, 250px);
        background-color: var(--background-color);
        padding: 90px 30px 30px;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
        opacity: 0;
        transform: translateX(100%);
        visibility: hidden;
        transition: all 0.5s ease-in-out;
    }

    nav.nav-container ul.nav-list {
        flex-direction: column;
        gap: 40px;

    }

    /* Show Menu When Toggled */
    .menu-toggle:checked~.nav-container {
        display: flex;
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
    }

}