@font-face {
    font-family: "Mulish-Regular";
    src: url("assets/fonts/Mulish/Mulish-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Mulish-Bold";
    src: url("assets/fonts/Mulish/Mulish-Bold.ttf") format("truetype");
}

/* ================== */
/* Root Variables     */
/* ================== */

:root {
    --primary-color: rgb(175, 212, 226);
    --secondary-color: #1E3240;
    --accent-color: #BDBDBD;
    --background-color: #FFFFFF;
}


/* ================== */
/* Reset & Global Styles */
/* ================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Mulish-Regular";
    background-color: var(--background-color);
}

/* ================== */
/* Responsive Container */
/* ================== */
.container {
    width: min(77%, 1200px);
    margin: 0 auto;
}

/* ================== */
/* Buttons */
/* ================== */

.project-button,
.contact-button {
    padding: clamp(8px, 1.4vw, 16px) clamp(14px, 1.8vw, 22px);
    font-size: clamp(12px, 2vw, 14px);
    cursor: pointer;
    text-align: center;
    border: 1px solid var(--secondary-color);
    transition: all 0.3s ease-in-out;
}

.project-button {
    background-color: var(--secondary-color);
    color: var(--background-color);
}

.project-button:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.contact-button {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.contact-button:hover {
    background-color: var(--secondary-color);
    color: var(--background-color);
}

/* ================== */
/* Header Section*/
/* ================== */
header {
    background-color: var(--primary-color);
}

/* ================== */
/* Navigation */
/* ================== */
div.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    color: var(--secondary-color);
}

div.brand-logo h1 {
    font-size: clamp(20px, 4vw, 24px);
    font-family: "Mulish-Bold";
    text-transform: uppercase;
}

nav ul.nav-list {
    list-style: none;
    display: flex;
    gap: clamp(35px, 6rem, 65px);
    font-size: 14px;
    text-transform: uppercase;
}

ul.nav-list a:hover {
    color: rgb(13, 23, 31);
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}


/* ================== */
/* Mobile Menu Icon */
/* ================== */
.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 1;
}

.menu-icon span {
    width: 25px;
    height: 2px;
    background-color: var(--secondary-color);
    margin: 3px 0;
    transition: 0.4s;
}

/* Hide Checkbox */
.menu-toggle {
    display: none;
}

/* ================== */
/* Hero Section */
/* ================== */
.hero-container {
    display: flex;
    justify-content: space-between;
    padding-top: clamp(40px, 7.5vw, 100px);
    margin-bottom: clamp(40px, 14vw, 180px);
}

/* Hero Content */
.hero-content {
    padding-bottom: clamp(30px, 8vw, 110px);
    width: 57%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-content h1.hero-content-heading {
    font-size: clamp(35px, 7vw, 90px);
    font-family: "Mulish-Bold";
    color: var(--secondary-color);
}

.hero-content p.hero-content-paragraph {
    font-size: clamp(18px, 2vw, 20px);
    color: var(--secondary-color);
    line-height: 1.5;
}

.hero-buttons {
    display: flex;
    gap: 6%;
    margin-top: 15px;
}

/* Hero Section Symbols */
/* All are position with respect to main parent (Image Container)*/
.hero-section-arrow,
.hero-section-mark-1,
.hero-section-mark-2 {
    position: absolute;
}

.hero-section-mark-1 {
    right: 33%;
    top: -4%;
}

.hero-section-mark-2 {
    top: 17%;
    left: -4%;
}

.hero-section-arrow {
    width: clamp(70px, 11vw, 170px);
    top: 53%;
    left: -30%;
}

/* Hero Image */
.hero-image {
    width: 55%;
    align-self: stretch;
    margin-right: -14.8%;
    position: relative;
}

.hero-image img.hero-section-image {
    width: 100%;
    height: 100%;
}

/* About Section */
.about-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: clamp(40px, 14vw, 180px);
}

/* About Image */
.about-image {
    width: 45%;
}


.about-image img {
    width: 100%;
    height: 100%;
    
}

/* About content */
.about-content {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
} 

.about-content h2.about-content-heading, .about-detail-number {
    font-size: clamp(30px, 5vw, 48px);
    font-family: "Mulish-Bold";
    color: var(--secondary-color);
}

.about-content p.about-content-paragraph {
    font-size: clamp(16px, 2vw, 18px);
    color: var(--accent-color); 
}

.about-detail{
    width: 100%;
    display: flex;
    justify-content: space-between;
 
}

.about-detail-heading{
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: clamp(10.5px, 2vw, 15px);
}

.about-detail-number{
    font-family: "Mulish-Regular";
}

/* ================== */
/* Above Larger Screen */
/* ================== */
@media (min-width: 1441px) {

    /* Hero Section */
    .hero-content {
        width: 50%;
    }

    .hero-section-arrow {
        top: 54%;
        left: -35%;
    }

    .hero-image {
        width: 48%;
        margin-right: 0;
    }
}

/* ================== */
/* From Tablet to large screen */
/* ================== */
@media (min-width: 769px) and (max-width: 1024px) {

    /* Hero section */
    .hero-content {
        width: 52%;
        align-self: center;
    }

    .hero-content h1 {
        font-size: 6.4vw;
    }

    .hero-section-arrow {
        width: 8vw;
        top: 60%;
        left: -18%;
    }

    .hero-image {
        width: 60%;
    }
}


/* ================== */
/* From Tablet to Smaller Screen */
/* ================== */
@media (max-width: 768px) {

    /* Header  */
    /* Menu */
    .menu-icon {
        display: flex;
        position: relative;
        left: 10%;
    }

    /* Menu Icon Animation */
    .menu-toggle:checked~.menu-icon span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu-toggle:checked~.menu-icon span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle:checked~.menu-icon span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* Navigation */
    div.header {
        align-items: flex-start;
        gap: 20px;
    }

    .nav-container {
        position: fixed;
        top: 0;
        right: 0;
        width: clamp(160px, 40%, 250px);
        background-color: var(--background-color);
        padding: 90px 30px 30px;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
        opacity: 0;
        transform: translateX(100%);
        visibility: hidden;
        transition: all 0.5s ease-in-out;
    }

    nav.nav-container ul.nav-list {
        flex-direction: column;
        gap: 40px;
    }

    /* Show Menu When Toggled */
    .menu-toggle:checked~.nav-container {
        display: flex;
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
    }

    /* Hero Section */
    .hero-container {
        flex-direction: column;
    }

    .hero-content {
        width: 100%;
    }

    .hero-image {
        display: flex;
        width: 90%;
        margin-left: 25%;

    }

    .hero-section-arrow {
        display: none;
    }

    .hero-section-mark-1,
    .hero-section-mark-2 {
        width: 3vw;
    }

    /* About Section */
    .about-container {
        flex-direction: column;
        gap: 30px;
    }

    .about-image {
        width: 100%;
    }

    .about-content {
        width: 100%;
    }

}

/* ================== */
/* From Small to Smaller Screen */
/* ================== */
@media (max-width: 425px) {

    /* Hero Section */
    .hero-image {
        width: 115%;
        margin: 0%;
    }
}